body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}


.logo{
    width: 200px;
}


a{
    text-decoration: none;
    color: dimgray;
}


.header{

    background-color: black;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;

    padding: 20px;
}

.menu li{
    display: flex;
}


.menu li a{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: rgb(228, 222, 212);
}